/* fields */

div.formRow {
  padding-top: 0;
  padding-bottom: 1.5ex;
  padding-top: 0;
  padding-top: 0;
  height: 1.8ex;
}

.dijitTextBoxReadOnly,
.dojoxCheckedMultiSelect * {
  border: 1px solid transparent !important;
  background-color: transparent !important;
}

.dijitTextBoxReadOnly input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.formRow .dijitCheckBox {
  padding-top: 0.6ex;
  margin-left: 3px;
  width: 14px !important;
}

.formRow .dojoxMultiSelectItem {
  padding-left: 0;
  margin-left: -3px;
}

.formRow .dojoxMultiSelectItem .dijitCheckBox {
  padding: 0;
  margin-left: 0px;
}

.identifyingField {
  font-weight: bold;
  font-size: 150%;
  width: 99.5%;
}

.fillToLeft,
.afterLabel,
.fillToRight,
/* extra mentions necessary to force text boxes to listen */
.dijitTextBox.fillToLeft,
.dijitTextBox.afterLabel,
.dijitTextBox.fillToRight {
  position: absolute;
  width: inherit !important;
  line-height: 3.2ex;
}

.fillToLeft,
/* extra mentions necessary to force text boxes to listen */
.dijitTextBox.fillToLeft {
  left: 10px;
}

.afterLabel,
/* extra mentions necessary to force text boxes to listen */
.dijitTextBox.afterLabel {
  left: 90px !important; /* see fixedLabel */
}

.fillToRight,
/* extra mentions necessary to force text boxes to listen */
.dijitTextBox.fillToRight {
  right: 10px;
}

/* labels */

label.fixedLabel {
  position: absolute;
  left: 10px;
  width: 75px; /* see .dijitTextBox.afterLabel */
  display: inline-block;
  font-size: 90%;
  font-weight: bold;
  padding-top: 0.6ex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listLabel {

}

fieldset {
  border:2px groove threedface;
  border-color: gray;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* multiselect */

.dojoxCheckedMultiSelect .dojoxCheckedMultiSelectWrapper {
  height: auto !important;
  overflow-y: auto;
}

/* lists */

.list.dgrid {
  width: 100%;
  border: none;
  background-color: transparent;
  min-height: 250px;
  height: inherit;
}

.listBtnAdd {
  float: right;
}

.listRow {
  padding: 5px;
  margin-bottom: 3px;
  margin-top: 3px;
  margin-left: 0px;
  margin-right: 4px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 3px;
}

.claro .listRow.ui-state-default:hover {
  background-color: #e9f2fe !important;
}

.claro .listRow.ui-state-active {
  background-color: #cee6fa !important;
}

.claro .listRow.ui-state-active:hover {
  background-color: #9bc6f2 !important;
}

.claro .listRow.ui-state-highlight {
  background-color: #ff6 !important;
}

.listRow label {
  display: block;
  margin-top: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listRow label.listRowIdentifyingField {
  font-weight: bolder;
}

.listRow label.listRowBottomRightMinor {
  margin-top: 4px;
  padding-right: 2px; /* allow space for italic last letter */
  color: gray;
  font-style: italic;
  font-size: 75%;
  text-align: right;
}
