/* fields */

.SemanticObjectPane div.formRow {
  padding-top: 0;
  padding-bottom: 1.5ex;
  padding-top: 0;
  padding-top: 0;
  height: 1.8ex;
}

.SemanticObjectPane .dijitTextBoxReadOnly,
.SemanticObjectPane .dojoxCheckedMultiSelect * {
  border: 1px solid transparent !important;
  background-color: transparent !important;
}

.SemanticObjectPane .dijitTextBoxReadOnly input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SemanticObjectPane .formRow .dijitCheckBox {
  padding-top: 0.6ex;
  margin-left: 3px;
  width: 14px !important;
}

.SemanticObjectPane .formRow .dojoxMultiSelectItem {
  padding-left: 0;
  margin-left: -3px;
}

.SemanticObjectPane .formRow .dojoxMultiSelectItem .dijitCheckBox {
  padding: 0;
  margin-left: 0;
}

.SemanticObjectPane .identifyingField {
  font-weight: bold;
  font-size: 150%;
  width: 99.5%;
}

.SemanticObjectPane .secondary {
  float: right;
  color: gray;
  font-size: 75%;
  /*padding-right: 2px allow space for italic last letter */
}

.SemanticObjectPane .fillToLeft,
.SemanticObjectPane .afterLabel,
.SemanticObjectPane .fillToRight,
/* extra mentions necessary to force text boxes to listen */
.SemanticObjectPane .dijitTextBox.fillToLeft,
.SemanticObjectPane .dijitTextBox.afterLabel,
.SemanticObjectPane .dijitTextBox.fillToRight {
  position: absolute;
  width: inherit !important;
  line-height: 3.2ex;
}

.SemanticObjectPane .fillToLeft,
/* extra mentions necessary to force text boxes to listen */
.SemanticObjectPane .dijitTextBox.fillToLeft {
  left: 10px;
}

.SemanticObjectPane .afterLabel,
/* extra mentions necessary to force text boxes to listen */
.SemanticObjectPane .dijitTextBox.afterLabel {
  left: 90px !important; /* see fixedLabel */
}

.SemanticObjectPane .fillToRight,
/* extra mentions necessary to force text boxes to listen */
.SemanticObjectPane .dijitTextBox.fillToRight {
  right: 10px;
}

/* labels */

.SemanticObjectPane label.fixedLabel {
  position: absolute;
  left: 10px;
  width: 75px; /* see .dijitTextBox.afterLabel */
  display: inline-block;
  font-size: 90%;
  font-weight: bold;
  padding-top: 0.6ex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SemanticObjectPane fieldset {
  border-style: groove;
  border-color: gray;
  border-width: 2px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* mini-widgets */

.miniWidget {
}



/* multiselect */

.SemanticObjectPane .dojoxCheckedMultiSelect .dojoxCheckedMultiSelectWrapper {
  height: auto !important;
  overflow-y: auto;
}

/* lists */

.SemanticObjectPane .dgrid-grid.list,
.SemanticObjectPane .dgrid-grid.grdComposition,
.SemanticObjectPane .dgrid-grid.grdSingularProperties {
  position: absolute;
  left: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  min-height: 250px;
  height: inherit;
}

.SemanticObjectPane .dgrid-grid.grdComposition,
.SemanticObjectPane .dgrid-grid.grdSingularProperties {
  border-radius: 3px;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
}

.SemanticObjectPane .dgrid-no-data,
.SemanticObjectPane .dgrid-loading {
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: 75%;
  color: gray;
}

.SemanticObjectPane .dgrid-grid.list .dgrid-scroller,
.SemanticObjectPane .dgrid-grid.grdComposition .dgrid-scroller,
.SemanticObjectPane .dgrid-grid.grdSingularProperties .dgrid-scroller {
  margin-top: 0 !important;
  overflow-y: auto;
}

.SemanticObjectPane .dgrid-grid.grdComposition .dgrid-row,
.SemanticObjectPane .dgrid-grid.grdSingularProperties .dgrid-row {
  background-color: transparent;
}

.SemanticObjectPane .dgrid-grid.grdComposition .dgrid-cell.field-component,
.SemanticObjectPane .dgrid-grid.grdSingularProperties .dgrid-cell.field-propertyName {
  color: gray;
  font-weight: bold;
  font-size: 90%;
  text-align: right;
  width: 7em;
}

.SemanticObjectPane .listBtnAdd {
  position: absolute;
  right: 10px;
  margin-top: -1.5px;
  margin-right: -1.5px;
}

.SemanticObjectPane .listSearch {
  position: absolute;
  width: inherit;
  left: 90px;
  right: 40px;
  font-size: 75%;
  margin-top: 2px;
}

.SemanticObjectPane .listRow {
  padding: 5px;
  margin-bottom: 3px;
  margin-top: 3px;
  margin-left: 0;
  margin-right: 4px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 3px;
}

.claro .SemanticObjectPane .listRow.ui-state-default:hover {
  background-color: #e9f2fe !important;
}

.claro .SemanticObjectPane .listRow.ui-state-active {
  background-color: #cee6fa !important;
}

.claro .SemanticObjectPane .listRow.ui-state-active:hover {
  background-color: #9bc6f2 !important;
}

.claro .listRow.ui-state-highlight {
  background-color: #ff6 !important;
}

.SemanticObjectPane .listRow label {
  display: block;
  margin-top: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SemanticObjectPane .listRow label.listRowIdentifyingField {
  font-weight: bolder;
}

.SemanticObjectPane .listRow label.listRowBottomRightMinor {
  margin-top: 4px;
  padding-right: 2px; /* allow space for italic last letter */
  color: gray;
  font-style: italic;
  font-size: 75%;
  text-align: right;
}

